#root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    padding: 2rem 3rem;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (max-width: 800px) {
        justify-content: center;
    }
}

#main {
    width: 68%;

    @media screen and (max-width: 800px) {
        width: 100%;
    }
}

#sidebar {
    width: 30%;

    @media screen and (max-width: 800px) {
        display: none;
    }
}
