body {
    background-color: #fff!important;
}

#root {
    display: flex;
    width: 100%;
    max-width: 840px;
    height: 100svh;
    margin: 0 auto;
    overflow: hidden;
}

#main {
    flex: 1 0 auto;

    &.chrismas {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -21px;
            right: 10px;
            width: 200px;
            height: calc(200px * 0.33);
            background-image: url(/images/decorate/chrismas/meltingsnow1.png);
            background-repeat: no-repeat;
            background-size: cover;
            pointer-events: none;
            z-index: 20;
        }
    }
}

#content {
    border-radius: 5px;
}

#sidebar {
    width: 0;
    overflow: hidden;

    @media (min-width: 768px) {
        width: 30%;
    }
}

.header-filter {
    mask-image: linear-gradient(to bottom, #000, transparent);
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

.scrollbar-hide {
    scrollbar-width: none;
}
