#root {
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

#main {
    flex: 1 0 auto;
}

#sidebar {
    width: 30%;

    @media screen and (max-width: 800px) {
        width: 0;
        overflow: hidden;
    }
}
