.twikoo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 4rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.31);
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .tk-meta-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > .el-input {
      width: 100%;
      flex: unset;
    }
    & > .el-input + .el-input {
      margin-top: 0.2rem;
    }
    & > .el-input:last-child {
      margin-top: 0.2rem;
    }
  }

  .el-loading-mask {
    background-color: rgba(255, 255, 255, 0.5)!important;
    backdrop-filter: blur(10px)!important;
  }
  .el-loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 768px) {
    .tk-meta-input {
  
      & > .el-input {
        width: 48%;
        flex: unset;
      }
      & > .el-input + .el-input {
        margin: 0;
      }
  
      & > .el-input:last-child {
        margin-top: 0.5rem;
        width: 100%;
      }
    }
  }

  .tk-comments-title{
    font-size: 1rem;
  }
}
